* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
.intro{
    width: 50%;
    height: 50vh;
    display: flex;
    margin: auto;
}

.img {
    width: 30%;
    height: 100%;

}

img {
    height: 100%;
    width: 100%;
    
}

.content {
    width: 60%;
    height: 100%;
    background-color:  #F06359;
    
}

.text-box {
    padding: 10%;
    margin: auto;
    width: 80%;
    margin: 10%;
    text-align: center;
    height: 20vh;
   
}

.UX {
    color: white;
    background-color: black;
    width: 80%;
    margin: auto;
    padding: 2px;
    margin-top: 18%;
}

h1{
   
    color: black;
    font-size: 250%;
    font-weight: bolder;
    font-family: 'Bebas Neue', cursive;
    
} 


.port {
    color: black;
    font-size: 120%;
}

.container {
    /* padding: 2%; */
    position: relative;
    margin: auto;
    width: 90%;
    height: 250vh;
    box-shadow: 0 0 5px 2.5px black;
    border-radius: 10px;
    background-color: #F5F0ED;
}

.about {
    height: 60vh;
    margin-top: 3vh;
    display: flex;
}

.aboutme {
    width: 50%;
    height: 100%;
    background-color: white;
}
.abt {
    width: 70%;
    height: 100%;
    margin: auto;
    margin-top: 8%;
}

.abt1 {
    margin-left: 25%;
}

.abt2 {
    padding: 1%;
    width: 70%;
    margin: auto;
    margin-top:8%;
}

.abt3 {
    display: flex;
    margin-left: 23%;
    margin-top: 8%;
}

.img2 {
    width: 10%;
}


.skills {
    width: 50%;
    padding: 2%;
    height: 100%;
    display: flex;
    align-items:center ;
    justify-content: space-between;
    background-color: #F06359;
}

.prj {
    background-color: blue;
    display: flex;
}


.project {
    color: black;
}

.skill1 {
    height: 75%;
    width: 25%;
}

.img1 {
    width: 80%;
    margin: auto;
    height: 50%;
}

.p-design {
    color: black;
    width: 100%;
    height: 50%;
    padding: 1px;
    text-align: center;
}

.skill2 {
    height: 75%;
    width: 25%;
}

.skill3 {
    height: 75%;
    width: 25%;
    
    
}

.create {
    height: 60vh;
    margin-top: 3vh;
    display: flex;
}

.works {
    width: 50%;
    height: 100%;
    background-color: white;
    align-items:center ;
    justify-content: center;
}

.my-prj{
    margin-left: 25%;
    margin-top: 9%; 
    
}

.IP {
    display: flex;
    height: 75%;
    padding: 1%;
    /* margin-top: 10%; */
    align-items: center;
    justify-content: space-between;
}

.dairy {
    padding: 2%;
    width: 30%;
    height: 100%;
    
}

.student {
    padding: 2%;
    width: 30%;
    height: 100%;
}

.kitchen {
    padding: 2%;
    width: 30%;
    height: 100%;
}


.network {
    width: 50%;
    height: 100%;
    align-items:center ;
    justify-content: center;
   

    background-color: #F06359;
}

.foot {
    height: 65vh;
    width: 40%;
    border: outset;
    background-color: white;
    margin: auto;
    margin-top: 50px;
}

.mail {
    width: 50%;
    height: 100%;
    border: solid black 1px;
}
 .form {
    width: 50%;
    height: 100%;
    border: solid black 1px;
    padding: 2%;
 }

 .footer {
     height: 80%;
     display: flex;
    
 }

 .mail1 {
    height: 100%; 
     justify-content: center;
     padding: 3%;

 }

 .mail101 {
    margin-bottom: 20%;
 }

 .ft {
     margin-left: 34%;
 }

 .tf {
       padding: 3%;
 }

 .img3 {
     width: 20%;
 }

 .img4 {
     width: 20%;
     height: 20%;
 }

 a {
     text-decoration: none;
     color: black;
 }

